.file-uploader {
    .control-label {
        text-align: left;
        cursor: pointer;
        color: orange;
        padding: 7px 15px 0;
    }
    .btn-wrapper {
        padding-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}